<div class="mr-1 col-5">                                      
  
    <div class="form-group"> 
        <%=hidden_field_tag :param_name, session[:user_id], {:id => 'userid', :name => 'userid'}%>
        <%=hidden_field_tag :param_token, session[:token], {:id => 'token', :name => 'token'}%>
        <%=hidden_field_tag :param_publish_date, Time.now, {:id => 'publishdate', :name => 'publishdate'}%>
         <%=hidden_field_tag :question_id, question["id"], {:id => 'question_id', :name => 'questionid'}%>
        <div class="form-control border-0"> 
            <%=label_tag "Title" %>
        </div>
        <div class="form-control form-text border-0"> 
            <%=text_field_tag :title, question["title"]  %>
        </div>
    </div>
    <div class="form-group form-textarea"> 
        <div class="form-control border-0"> 
            <%=label_tag "Body"%>
        </div>
        <div class=""> 
            <%=text_area_tag :body, question["body"], rows: 10,cols: 55 %>
        </div>
    </div>
     <div class="form-group"> 
        <%=button_tag "Update", class: "btn btn-primary btn-small", id:"sub_btn_edit_question"  %>
    </div>

</div>