<div class="form-group mb-3" >

<%= form_for :login,:method => 'get',  html: {id: 'sub_form'},remote: true do %>
    <div class="form-control form-control-lg"> 
    <%=label_tag :username %>
    <%=text_field_tag :username %>
    </div>
     <div class="form-control form-control-lg"> 
    <%=label_tag :password %>
    <%=password_field_tag :password%>
    </div>
    <%=submit_tag "Log in", class: "btn btn-primary btn-lg btn-block", id:"sub_btn"  %>

   
<% end %>
</div>


