<div class="col-12">
<div class="form-row">
    <%=hidden_field_tag :param_name, session[:user_id], {:id => 'userid', :name => 'userid'}%>
    <%=hidden_field_tag :param_token, session[:token], {:id => 'token', :name => 'token'}%>
    <div class="col-sm-1 ">
         <div class="form-control border-0 bg-info row"> 
            <%=label_tag "Search" %>
        </div>
    </div>
    <div class="col-10">
         <div class="form-control form-text-area row"> 
            <%=text_field_tag :search %>
        </div>
    </div>
     <div class="col-1">
          
            <%=button_tag "search", class: "btn btn-primary btn-small", id:"sub_btn_search"  %>
        
    </div>
</div>
</div>
<div class="container pt-5">


<%@questions_array = Kaminari.paginate_array(@questions).page(params[:page]).per(10)%>
<%= paginate @questions_array %>
<%= page_entries_info @questions_array %>

  <%@questions_array.each do |questions|%>
  <%question = questions['question']%>
    <div class="card border-info mb-5 " id="genecontroller">
        <div class="card-header badge-primary">
            <h4><%=link_to "#{question["title"]}", question_path(question['id']), html_options = {:class => "badge-primary"}%></h4>
        </div>
        <div class="card-body ">
            <div class="row">
                  <section class="border-primary col-6">
                
                    <p><em>Asked by: <%=question["username"]%></em></p>
                    <p><em>minutes ago</em></p>  
                </section>
                <section class="border-primary col-6">
                
                    <p><em>published: <%=published_at(question["created_at"])%></em></p>  
                    <p><em>last update: <%=published_at(question["updated_at"])%></em></p>
                </section>
            </div>
        </div>
         <section class="card-footer text-muted">
                    
                    <p><em><%=link_to "#{question["answers"]} Answers", question_path(question['id'])%></em></p>
             
        </section>
    </div>
  <%end%>
</div>
